/config
/node_modules
/bower_components
/public/storage
/public/relatorios.html
/public/pdf
/public/excel
/public/csv
/public/images
/public/img

/public/mix-manifest.json
/public/images/logosClientes
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
README.md
readme.md
app.docker
docker-compose.yml
npm-debug.log
vhost.conf
composer.json
composer.lock
web.docker
app.docker
web.docker
docker-compose.yml
vhost.conf
app.docker
web.docker
docker-compose.yml
vhost.conf
resources/view/errors
.env
/resources/views/errors/*
